<div class="prodBuyWrap">
  <div class="fabBorderSpace" style='background: url("http://dnok91peocsw3.cloudfront.net/relaunch/bg-mesh-2px-gap.png") repeat scroll -1px -1px #FFFFFF;'></div>
  <ul class="prodBuyList">
    <li class="floatLeft" style="line-height: 22px;">
      <p class="fabPrice"><%=@product.display_price %><span class="fabShopSprite fabTagSml"></span>fab</p>
      <p class="retailPrice">$34.95 retail price</p>
    </li>
    <li class="quantitySelBlock floatLeft" style="margin:16px 0 0 15px;">
      <em class="floatLeft marginRight5" style="line-height:26px;height:26px">Quantity</em>
      <select tabindex="2" class="def_select quantityDD select_v1 marginRight5" disabled>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
        <option value='13'>13</option>
        <option value='14'>14</option>
        <option value='15'>15</option>
        <option value='16'>16</option>
        <option value='17'>17</option>
        <option value='18'>18</option>
        <option value='19'>19</option>
        <option value='20'>20</option>
        <option value='21'>21</option>
        <option value='22'>22</option>
        <option value='23'>23</option>
        <option value='24'>24</option>
        <option value='25'>25</option>
        <option value='26'>26</option>
        <option value='27'>27</option>
        <option value='28'>28</option>
        <option value='29'>29</option>
        <option value='30'>30</option>
      </select>
    </li>
    <li class="prodAddcartButton floatRight">
      <a tabindex="3" href="javascript:void(0)" data-attr-btnName="top_cart" class="fabSubmitBtn addToCart fabGrad borderR15 noShadow disabled"><span class="fabShopSprite cart_icon marginRight5"></span>Login to Buy</a>
    </li>
    <li id="errorOnPDP" class="errorText alignCenter" style="display:none;*clear:both; color:#dd0017;">Oops! Please select your size before adding to your cart.</li>
    <li class="freeShipMsgOnProduct"></li>
  </ul>
  <div class="fabBorderSpace" style='background: url("http://dnok91peocsw3.cloudfront.net/relaunch/bg-mesh-2px-gap.png") repeat scroll -1px -1px #FFFFFF;'></div>
</div>
<div class="clear"></div>