 <div id="salesHeader" class="floatingHeader" style="width:955px;padding-right:0;border-bottom:none;box-shadow:none;height: auto">
      <div class="salefacebookbannerHeader">
        <h2 class="floatLeft">Ends <em>in</em> 2 days <em>and</em> 17 hours </h2>
        <span class="fabShopSprite floatLeft greyClockBig marginLeft5"></span>
        <ul class="socialLinks floatRight">
          <li class="floatLeft">
            <a class="fabShopSprite twIconNew" href="http://twitter.com/intent/tweet?text=Moon+Greenhouse+%40GlobusAmerica%2C+6%25+off+now+featured+on+Fab.+http%3A%2F%2Ffab.com%2Fsale%2F21077%2Fproduct%2F391237%2F%3Ffref%3Dproduct-invite-tw&via=Fab" target="_blank" title="Share on Twitter" onclick="ga_tweet_sale_product();">Share on Twitter</a>
          </li>
          <li class="floatLeft">
            <a class="fabShopSprite fbIconNew" href="javascript:void(0)" onclick='window.open("http:\/\/www.facebook.com\/sharer.php?u=" + encodeURIComponent(window.location.href+"?fref=fb"), "my_window", "height=440,width=620,scrollbars=true");return false;' title="Share on Facebook">Share on Facebook</a>
          </li>
          <li class="floatLeft">
            <a class="tumblrIconNew fabShopSprite" href="javascript:void(0)" onclick='window.open("http://www.tumblr.com/share/photo?source=http%3A%2F%2Fdnok91peocsw3.cloudfront.net%2Fproduct%2F391237-360x360-1367428213-primary.png&amp;caption=%3Ca+href%3D%27http%3A%2F%2Ffab.com%2Fsale%2F21077%2Fproduct%2F391237%2F%3Ffref%3Dproduct-invite-tu%27%3EMoon+Greenhouse+%40GlobusAmerica%2C+6%25+off+now+featured+on+Fab.%3C%2Fa%3E%3Cbr%2F%3EFab.com%3Cbr%2F%3EWith+the+Moon+Greenhouse%2C+you+get+to+become+a+mad+scientist+in+your+private+life%2C+mildly+disrupting+the+balance+of+nature+before+dashing+off+to+watch+TV.+This+kit+has+everything+you+need+to+create+a+mini+inflatable+greenhouse+%28%21%29+%28%3F%29+in+your+own+home.+The+process+is+insanely+easy%3A+Plant+the+provided+seeds.+Watch+them+grow.+Extract+them.+Replant+them.+Observe+the+complete+germination+and+photosynthesis+process+as+a+variety+of+plants+come+alive+right+before+your+eyes%26hellip%3B.", "my_window", "height=440,width=620,scrollbars=true");return false;'  title="Share on Tumblr">Share on Tumblr
            </a>
          </li>
          <li class="floatLeft fbLIkePlusIcon" style="max-width:90px;min-width:87px;">
            <fb:like allowtransparency="true" frameborder="0" scrolling="no" colorscheme="light" action="like" show-faces="false" layout="button_count" send="false" href="http://fab.com/sale/21047/product/133264?fref=fb-like" class="overflowHidden fb_edge_widget_with_comment fb_iframe_widget" fb-xfbml-state="rendered"><span style="height: 21px; width: 73px;"><iframe scrolling="no" id="f2230757dbfadee" name="f256d0a081580f2" style="border: medium none; overflow: hidden; height: 21px; width: 73px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=105523866144321&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df12c87fcbae6e78%26origin%3Dhttp%253A%252F%252Ffab.com%252Ff176e399b7a882a%26domain%3Dfab.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Ffab.com%2Fsale%2F21047%2Fproduct%2F133264%3Ffref%3Dfb-like&amp;node_type=link&amp;width=90&amp;layout=button_count&amp;colorscheme=light&amp;action=like&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></fb:like>
          </li>
          <li class="floatLeft pinitIcon">
            <a onclick="return false" href="http://pinterest.com/pin/create/button/?url=http://fab.com/sale/21077/product/391237/?fref=pinterest&media=http://dnok91peocsw3.cloudfront.net/product/391237-360x360-1367428213-primary.png&description=Moon+Greenhouse%2C+%2433%2C now featured on Fab." class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
          </li>
          <span onclick="pinterestShare(); window.open('http://pinterest.com/pin/create/button/?url=http://fab.com/sale/21077/product/391237/?fref=pinterest&media=http://dnok91peocsw3.cloudfront.net/product/391237-360x360-1367428213-primary.png&description=Moon+Greenhouse%2C+%2433%2C now featured on Fab.', 'signin', 'height=300,width=665'); return false" style="float:left;position:relative;right:75px;width:43px;height:20px;top:4px;background:transparent;margin-right:-42px;cursor:pointer" title="Pin it on Pinterest"></span>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="fbBannerFacebookTime" style=" position: relative;top: 0px;left: -9px;height:0px;" >
        <div class="fbBannerExclusive" style="top: 0px;box-shadow:none">
          <span title="Close " alt="cross" class="fabShopSprite fbBannerCross floatLeft"></span>
          <span data-gaq="week1" class="welcomeDeliver font24 color333 fontLtr floatLeft">Fab is <span class=" fontB color333"> Everyday Design</span>. Smile, you're designed to.</span>
          <a href='javascript:void(0)' id = "banner_signup" class="fabSubmitBtn fabGrad borderR5 noShadow floatLeft" style="padding:0.44em 1.5em !important;">Sign Up</a>
          <a href='javascript:void(0)' id = "banner_login" class="fabSubmitBtn fabGrad borderR5 noShadow floatLeft" style=" left: 9px;padding:0.44em 1.5em !important;">Login</a>
          <a class="fbconnectBtn fbGrad borderR5 noShadow floatLeft">
            <span id="fb_signup_banner" class=" fbBannerFblogin fabShopSprite"></span>
          </a>
        </div>
      </div>
    </div> <!-- Close the container, Create a new one for height. -->
    <div id="fbbannerhide" style="background-color: rgb(255, 255, 255); height: 52px;" class="clear">
    </div>
    <div id="salesPhantomDiv" class="floatingPhantomDiv" style="height: 47px;background-color: #fff;*height: 0px;"></div>