<div class="prodMidblock" style="padding:15px 0">
  <h3 class="floatLeft">Shipping Info
    <span class="fabShopSprite shipping_icon"></span>
  </h3>
  <div class="clear"></div>
  <ul class="tblList" id="shippingDetails" style="overflow: visible">
    <li class="noBorderTop" >
      <span class="full">
        <label>Estimated Arrival</label>
        <span>13 - 22 Days</span>
      </span>
    </li>
    <li>
      <span class="full">
        <label>Return Policy</label>
        <span style="display:inline;">This item is final sale and not eligible for return.</span>
      </span>
    </li>
    <li>
      <span class="full">
        <label>Availability</label>
        <span style="display:inline;">Ships to U.S. and Canada.</span>
      </span>
    </li>
  </ul>
</div>