<div id="footerWrapper" class="">
<div id="footer" class="alpha omega sixteen columns" data-hook>
  <!-- <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%#= t :powered_by  %> <%#= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div> -->

     <ul class="footerLinks floatLeft">
      <li><a href="http://fab.com/about-fab/" target="_blank">About</a></li>
      <li><a href="javascript:void(0)" class="showGiftCardLoginBox">Fab Cards</a></li>
      <li><a href="http://fab.com/downloads/" target="_blank">Mobile Apps</a></li>
      <li><a href="http://www.hrjobcenter.com/fab/index.html" target="_blank">Careers</a></li>
      <li><a href="http://blog.fab.com/" target="_blank">Blog</a></li>
        <li><a href="http://fab.com/help/" target="_blank">Help</a></li>
        <li><a href="http://fab.com/contact-us/" target="_blank">Contact Us</a></li>
        <li><a href="http://fab.com/return-policy/" target="_blank">Return Policy</a></li>
        <li><a href="http://fab.com/shipping-policy/" target="_blank">Shipping</a></li>
      <li><a href="http://fab.com/terms/" target="_blank">Terms</a></li>
      <li><a href="http://fab.com/privacy/" target="_blank">Privacy</a></li>
    </ul>
    <span class="copyText floatRight" style="margin-left: 0px">Fab.com © 2013</span>
    <ul class="socialLinks floatRight" style="border-left: 1px dotted #b2b2b2;padding-left: 9px;line-height: 36px;height: 38px;">
      <li><a class="fabShopSprite twIcon" href="http://www.twitter.com/fab/" target="_blank">Share on Twitter</a></li>
      <li><a class="fabShopSprite fbIcon" href="http://facebook.com/fab.com/" target="_blank">Share on Facebook</a></li>
    </ul>
    <ul class="footerStoreLinks floatRight">
</div>
</div>
