<div class="modal logoutmebersign" id="fabModal_login" style="top: 2551px; opacity: 1; visibility: visible; margin-left: -212.5px;display:none;">
  <div class="closeModal crossIcon fabShopSprite crossIconLeft"></div>
  <div class="modalContent" id="fabModalContent">
    
    

    <div class="LoginHeader displayNone" style="display: block;">
        <div id="loginHeader">
            <h2 class="memSignTobuy displayNone" id="loginMemSignIn" style="display: block;">Member Sign In</h2>          
        </div>
    </div>
  <form method="post" id="uLogin" action="https://fab.com/login/?" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="eWEIuPP64GjL3Ybb9j6AX76YpZ8Zd0Aph9pzUo5Y/34=" name="authenticity_token"></div>
      <div style="padding: 15px 28px 0px;" id="loginEmailPassWd">
            <label class=" color666 fontB font12">EMAIL</label>
            <input type="text" id="userId" name="user[un_or_email]" value="Email address or username" autocomplete="off" class="inputBoxLog borderR5 dB" onblur="if($(this).val() == ''){$(this).val('Email address or username');}" onfocus="if($(this).val() == 'Email address or username'){$(this).val('');}">
            <label style=" margin-top: 15px" class="color666 fontB font12 dB">PASSWORD</label>
            <input type="password" id="password" name="user[password]" class="inputBoxLog borderR5 dB">
            <input type="hidden" value="login" name="user[form_type]">
            <input type="hidden" value="http://fab.com/browse/home/" name="user[referrer_url]">
            <input type="hidden" value="" name="invitecode">
            <input type="hidden" value="" name="fref">
            <input type="hidden" value="" name="frefl">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="utm_params[]">
            <input type="hidden" value="" name="nan_pid">
            <input type="hidden" value="" name="email_user">
            <input type="hidden" value="" name="navEmail">
            <div class="loginBuyForgotId">
                <a id="loginBuyForgotPwd" href="javascript:void(0)">Forgot password?</a>
            </div>
            <div style=" padding: 15px 0px;text-align: center">
                <a style=" vertical-align: top" href="javascript:void(0);" class="fabSubmitBtn fabGrad borderR5 noShadow" id="lightboxLogin">Login</a>
                <a style=" margin-left: 20px" class="fbconnectBtn fbGrad borderR5 noShadow ">
                  <span style=" position: relative;top: 2px;left: 1px" class=" fbBannerFblogin fabShopSprite"></span>
                  <span class="fblogindivider"></span>
                  <span class="fblogwithface" id="fbConnectButton">Login with Facebook</span>
                </a>
                <span style=" padding: 11px 0 0 0px" class="color666 font13 dB ">Not a member yet?
                    <a id="signUpNow" href="javascript:void(0)">Sign Up Now!</a>
                </span>
            </div>
      </div>
</form>    
</div>
</div>




<div style="top: 2665px; opacity: 1; visibility: visible; margin-left: -212.5px; display:none;" id="fabModal_password" class="modal logoutmebersign">
  <div class="closeModal crossIcon fabShopSprite crossIconLeft"></div>
  <div id="fabModalContent" class="modalContent">
    <div style="display: block;" class="LoginHeader displayNone">
        <div id="loginHeader">            
          
          <h2 style="display: block;" id="loginMemSignpass3" class="memSignTobuy displayNone">Forgot password?</h2>
        </div>
    </div>
      <form method="post" accept-charset="UTF-8" id="resetPWForm">
   <div style="display: block;" id="logiEmailconfpwdId" class="logiEmailConf">Please enter your email address below. We will send you an email to confirm your password.
        <input type="text" id="resetPWEmail" onfocus="if($(this).val() == 'Enter your email address'){$(this).val('');}" onblur="if($(this).val() == ''){$(this).val('Enter your email address');}" autocomplete="off" value="Enter your email address" name="email" class="inputBoxLog borderR5 dB" style=" margin:25px 0 25px 0">
        <div class="forgotPassBorder">
            <input type="submit" id="errorMsgSubButton" style="" value="Submit" class="fabSubmitBtn fabGrad borderR5 noShadow font14">
            <input type="button" id="cancelMemid" value="Cancel" class="fabSubmitBtn confrmB borderR5 noShadow font14" style=" font-weight: normal">
        </div>
    </div>
    
    
  </form>
</div>
</div>



<div class="modal logoutmebersign" id="fabModal_signup" style="top: 100px; opacity: 1; visibility: visible; margin-left: -212.5px;display:none;">
  <div class="closeModal crossIcon fabShopSprite crossIconLeft"></div>
  <div class="modalContent" id="fabModalContent">
    
    

    <div class="LoginHeader displayNone" style="display: block;">
        <div id="loginHeader">
            
          <h2 class="memSignTobuy displayNone" id="loginMemJoinToday3" style="display: block;"><span class="fabShopSpriteNew fabLogoSmallImg dIB"></span></h2>
          
        </div>
    </div>
    <form method="post" id="uSignup" action="https://fab.com/login/?" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="AxA+LkND35ULB0YlqfKW8wLMsaNSNsaHUuTJXSkBloM=" name="authenticity_token"></div>
    <div style="padding: 15px 28px 0px; display: block;" class="displayNone" id="loginEmailPassJoin">
        <span class=" joinfabgreatDesign"> Join Fab today to <strong class="color333">discover</strong>, <strong class="color333">collect</strong> and <strong class="color333">share</strong> great everyday designs.</span>
        <label class=" color666 fontB font12">EMAIL</label>
        <input type="text" value="Enter your email address" tabindex="1" name="user[email]" id="user_email" class="inputBoxLog borderR5 dB " onblur="if($(this).val() == ''){$(this).val('Enter your email address');}" onfocus="if($(this).val() == 'Enter your email address'){$(this).val('');}">
        <input type="hidden" value="signup" name="user[form_type]">
        <input type="hidden" value="" name="invitecode">
        <input type="hidden" value="" name="fref">
        <input type="hidden" value="" name="frefl">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="utm_params[]">
        <input type="hidden" value="" name="nan_pid">
        <input type="hidden" value="http://fab.com/browse/home/" name="user[referrer_url]">
        <input type="hidden" value="" name="email_user">
        <input type="hidden" value="" name="navEmail">
        <div class="signUpAlready">
            <a style=" vertical-align: top" class="fabSubmitBtn fabGrad borderR5 noShadow" id="loggedOutSignUp">Sign Up</a>
            <a style=" margin-left: 20px" class="fbconnectBtn fbGrad borderR5 noShadow" id="fbSignupButton">
                <span style=" position: relative;top: 2px;left: 1px" class=" fbBannerFblogin fabShopSprite"></span>
                <span class="fblogindivider"></span>
                <span class="fblogwithface">Login with Facebook</span>
            </a>
            <div style=" clear: both"></div>
            <span style="padding: 11px 0px 0;" class="color666 font13 dB">Already a member?
                <span style="margin: 0 4px" class="lockIcon fabShopSprite"></span>
                <a style=" color: #333;text-decoration: underline" class=" fontB" href="javascript:void(0)" id="logToMember">Login </a>
            </span>
        </div>
    </div>
</form>  
</div>
</div>


<!-- <div id="fabModal" class="modal">
  <div class="closeModal crossIcon fabShopSprite crossIconLeft"></div>
  <div id="fabModalContent" class="modalContent">
  	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>

  </div>
</div>
 -->

<%#= render :partial => 'spree/shared/auth_popup'%>